html, body {height: 100%;width: 100%;}
#sidebar_left{
    overflow-y:scroll;
    overflow-x:auto;
    height:80%;
    width: 20%;
    float:left;
}
#sidebar_right{
    overflow-y:auto;
    overflow-x:auto;
    height:80%;
    width: 80%;
    float:left;
    border-style: none;
}
#comment{
    width: 100%;
}
.panel-heading{
    height:100%;
    overflow-y:auto;
    overflow-x:auto;

}
.panel-body{
    height: 15%;
}
.list-group-item{
    width: 100%;
    overflow-y:auto;
    overflow-x:auto;

}